@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

#projectHeading {
  font-family: "Jockey One", sans-serif;
  text-align: left;
  margin-top: 50px;
  width: 90%;
}
#projectSection {
  background: url(../../img/main_bg1.jpg) no-repeat fixed center;
  background-size: contain;
}

.projectCardBtn {
  margin-left: auto;
  align-items: center;
  /* margin-top: 110px; */
}
