@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.publications {
    /* background-color: #EDF9FE; */
    /* height: 100vh; */
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items:normal;
}

.publications-text p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
  }

.image {
    margin-top: 60px;
  }
  

.modal-90w {
    width: 90% !important;
}
.modal-body {
    font-weight: 500;
    font-size: 17px;
    color: black;
}
