@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.skills-parent {
  height: 100vh;
  padding: 50px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  /* background-color: rgb(237 249 254); */
}

.skills-text p {
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}

.all-skills-container {
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100%;
  flex-direction: row;
  display: flex;
}

.skills-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#skillHeading {
  font-family: "Jockey One", sans-serif;
  text-align: left;
  margin-top: 10px;
  width: 100%;
}
