@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.about-parent {
  display: flex;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  margin-top: "50px";
  flex-direction: column;
  justify-content: "center";
  align-items: "center";
}

.about-text {
  font-family: "Bellefair", serif;
}

.about-text p {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

#aboutHeading {
  font-family: "Jockey One", sans-serif;
}
