@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-section {
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-card {
  justify-content: center;
  text-align: center;

  width: auto;
}
.contact-heading {
  margin-top: 50px;
  width: 100%;
}
.connect-with-me-text {
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}
.connect-with-me-text p {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.heading {
  font-family: "Jockey One", sans-serif;
  text-align: left;
  margin-top: 10px;
  width: 90%;
}
.contact-form {
  padding: 40px;
  margin: 10px;
  min-width: 40vw;
  flex-direction: column;
}
.contact-form:hover {
  background-color: #c770f0;
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid #c770f0 !important;
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.contact-field {
  flex: 1;
  border-radius: 8px;
  border: 1px solid grey;
  margin-top: 15px;
  padding: 15px;
  font-size: 18px;
}

#form-name {
  width: 100%;
}

#form-email {
  width: 100%;
}
#form-message {
  width: 100%;
  margin-bottom: 10px;
}
#submit-btn {
  padding: 10px;
  margin-top: 15px;
  width: 100px;
  border-radius: 5px;
  background-color: #f25f5c;
  border: none;
}
#submit-btn:hover {
  cursor: pointer;
  background-color: #2eff13;
}
.contact-div{
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 567px) {
  #form-name,
  #form-email,
  #form-message {
    width: 100%;
  }
  .contact-div{
    flex-direction: column;
    }
}

li {
  list-style-type: none !important;
}

.social_icons {
  font-size: 40px;
  margin-right: 20px;
}

.social-icons-container {
  margin-bottom: 20px;
}

.contact-form{
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 768px) {
  .collaborate{
    width: 100%;
    height: auto;
  }
  .contact-form{
    width: 100vw;
  }
}