.footer {
  background-color: rgb(174, 240, 172);
  background-size: contain;
  display: flex;
  position: fixed;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 5vh;
}

.footer-row {
  width: 100%;
  align-items: baseline;
}

.copyright {
  width: 33.33%;
  font-family: "Special Elite", cursive;
}

.made-by {
  width: 33.33%;
  font-family: "Special Elite", cursive;
}

.social-media-icons {
  width: 33.33%;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}
