.footer {
  /* background: url("../img/footer1.png"); */
  background-color: rgb(174, 240, 172);
  background-size: contain;
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 5vh;
}

.footer-row {
  width: 100%;
  align-items: baseline;
}

.copyright {
  font-family: "Special Elite", cursive;
}

.made-by {
  font-family: "Special Elite", cursive;
}

.social-media-icons {
  font-size: 20px;
}

@media only screen and (max-width: 567px) {
  .footer {
    background: none;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .copyright,
  .made-by {
    display: none;
  }
}
